body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #f7f5f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23565556' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* first pop-up */
.pop-up {
    position: absolute;
    width: 30%;
    height: 30%;
    max-width: 80%;
    /* border: 1px solid red; */
    margin: 20px 490px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    justify-content: space-around;
    z-index: 10;
    box-shadow: 5px 4px 20px black;
    animation: opening-pop-up 0.3s ease-in;
    background-color: #ffffff;
    font-size: 18px;
}
.vanish {
    display: none;
}

.grey {
    background-color: rgba(0, 0, 0, 0.3);
}
#ok-btn {
    width: 90px;
    height: 40px;
    font-size: 13px;
    border:none;
    border-radius: 10px;
    background-color: rgb(99, 99, 220);
    color: white;
    cursor: pointer;
}
#ok-btn:active {
    transform: scale(1.1);
}
@keyframes opening-pop-up {
    from {
        opacity: 0;
        transform: translateY(-40px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* nav section */
nav {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}
img {
    width: 60px;
    height: 60px;
    background-color: white;
    /* position: relative; */
    cursor: pointer;
    /* top: 10px; */
    /* left: -30px; */
}
img:active {
    transform: scale(1.1);
}
/* nav section #new-quote-btn */
.btn-cont {
    /* border: 1px solid red; */
    width: 30%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.img-cont {
    /* border: 1px solid red; */
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#new-quote-btn {
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
    border: none;
    box-shadow: 0 3px rgba(121, 121, 121, 0.65);
    position: relative;
    top: -10px;
}
#new-quote-btn:active {
    transform: translate(0, 3px);
}

/* quote section */
.quote-section {
    min-height: 90vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 70%;
    min-height: 200px;
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 10px;
    animation: opening 0.8s ease-in;
}

#quote-text-cont {
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5); */
    border-radius: 40px;
}

#left-symbol {
    font-size: 60px;
    position: relative;
    top: 60px;
}

#quote {
    text-align: center;
    word-wrap:break-word;
    /* border: 1px solid red; */
    height: 50%;
    padding: 60px;
    font-size: calc(30px + 1px);
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
    /* box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5); */
}


#author-cont {
    /* border: 1px solid red; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.author {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Karla', sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.long-text {
    padding: 20px;
    height: 20%;
}

.overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}
@keyframes opening {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 650px) {
    #quote-text-cont #quote {
        font-size: 25px;
        padding: 10px;
    }
    #quote-text-cont #left-symbol {
        font-size: 36px;
        position: relative;
        top: 50px;
        left: -40px;
    }
    header nav #new-quote-btn { 
        position: relative;
        top: 3px;
        left: 3px;
        padding-top: 4px;
    }
    #author-cont .author {
        position: relative;
        top: 30px;
    }
    header nav #twitterImg {
        position: relative;
        left: 30px;
    }

}
/* loader */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #333; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 30;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* helper classes */
.invisible {
    display: none;
}
.visible {
    display: flex;
}

@media screen and (max-width: 450px) {
    header nav #twitterImg {
        position: relative;
        top: 15px;
    }
    .pop-up {
        display: none;
    }
    .overlay {
        display: none;
    }
}
@media screen and (max-width: 326px) {
    .quote-section .quote-container #quote-text-cont #left-symbol {
        padding: 40px;
    }

}


@media screen and (max-width: 980px) {
    .pop-up { 
        font-size: 13px;
        position: absolute;
        left: -200px;
    }
}

@media screen and (max-width: 600px) {
    .pop-up { 
        left: -600px;
    }
}

@media screen and (max-width: 790px) {
    .pop-up {
        padding: 30px;
        left: -290px;
    }
}

@media screen and (max-width: 590px) {
    .pop-up {
        left: -350px;
    }
}

